<div>
  <div>
    <article>
      <header>
        <h3>Zutaten Menge festlegen</h3>
      </header>
      <table class="striped">
        <thead>
        <tr>
          <th scope="col">Lebensmittel</th>
          <th scope="col">Einheit</th>
          <th scope="col">Menge in Einheit</th>
          <th scope="col">Aktion</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of weightPerItem">
          <td scope="row">{{item.item.title}}</td>
          <td scope="row">{{item.item.unit}}</td>
          <td>
            <input class="table-input" type="text" placeholder="Menge eintragen" aria-label="Text" (change)="updateItemWeight(item.item.id, $event)"/>
          </td>
          <td>
            <button (click)="deleteItem(item.item.id)">
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24">
                <path fill="currentColor"
                      d="m9.4 16.5l2.6-2.6l2.6 2.6l1.4-1.4l-2.6-2.6L16 9.9l-1.4-1.4l-2.6 2.6l-2.6-2.6L8 9.9l2.6 2.6L8 15.1l1.4 1.4ZM7 21q-.825 0-1.413-.588T5 19V6H4V4h5V3h6v1h5v2h-1v13q0 .825-.588 1.413T17 21H7Z"/>
              </svg>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
      <button (click)="toggleIngredientDialog()">Lebensmittel erfassen</button>
    </article>

    <article>
      <header>
        <h3>Tageszeit für KE-Faktor</h3>
      </header>
      <fieldset><label for="morning">
        <input type="radio" id="morning" name="size" value="{{userProfile.sensitivityMorning}}"  (change)="onSensitivityChanged($event)" checked>
        Morgens ({{userProfile.sensitivityMorning}})
      </label>
        <label for="noon">
          <input type="radio" id="noon" name="size" value="{{userProfile.sensitivityNoon}}"  (change)="onSensitivityChanged($event)">
          Mittags ({{userProfile.sensitivityNoon}})
        </label>
        <label for="evening">
          <input type="radio" id="evening" name="size" value="{{userProfile.sensitivityEvening}}"  (change)="onSensitivityChanged($event)">
          Abends ({{userProfile.sensitivityEvening}})
        </label>
      </fieldset>
    </article>
    <article>
      <header>
        <h3>Zusammenfassung KE</h3>
      </header>
      <table class="striped">
        <thead>
        <tr>
          <th scope="col">Lebensmittel</th>
          <th scope="col">Einheit</th>
          <th scope="col">Menge in Einheit</th>
          <th scope="col">Kohlenhydrate in g</th>
          <th scope="col">Zucker in g</th>
          <th scope="col">KEs</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let i of weightPerItem">
          <td scope="row">{{i.item.title}}</td>
          <td scope="row">{{i.item.unit}}</td>
          <td>{{i.weight}}</td>
          <td>{{getWeightedValue(i.item.carbohydrateAvailable, i.weight) | number : '1.2-2'}}</td>
          <td>{{getWeightedValue(i.item.sugar, i.weight) | number : '1.2-2'}}</td>
          <td>{{getWeightedValue(i.item.carbohydrateUnits, i.weight) | number : '1.2-2'}}</td>
        </tr>
        </tbody>
      </table>
    </article>
    <article>
      <header>
        <h3>Insulinbedarf: {{insulinSum | number : '1.2-2'}} Einheiten</h3>
      </header>
      <body>
      <h4> Berechnung</h4>
      <table>
        <thead>
          <th>Summe KEs</th>
          <th></th>
          <th>KE-Faktor</th>
          <th></th>
          <th><b>Insulineinheiten</b></th>
        </thead>
        <tbody>
          <tr>
            <td>{{keSum | number : '1.2-2'}}</td>
            <td>*</td>
            <td>{{selectedSensitivity | number : '1.2-2'}}</td>
            <td>=</td>
            <td><b>{{insulinSum | number : '1.2-2'}}</b></td>
          </tr>
        </tbody>
      </table>
    </body>
  </article>
  </div>
</div>

<dialog *ngIf="showIngredientDialog" open>
  <article class="ingredients-container">
    <h2>Lebensmittel hinzufügen</h2>

    <app-search-ingredient></app-search-ingredient>
    <footer>
      <button className="secondary"  (click)="closeDialog()">
        Cancel
      </button>
      <button (click)="saveIngredients()">Save</button>
    </footer>
  </article>
</dialog>
