<ul>
  <li role="list" dir="rtl">
    <a href="#" aria-haspopup="listbox">{{username$ | async}}</a>
    <ul role="listbox">
      <li><a (click)="toggleDialog()">Einstellung</a></li>
      <li><a (click)="logout()">Abmelden</a></li>
    </ul>
  </li>
</ul>

<dialog [attr.open]="dialogVisible">
  <article>
    <h2>Deine individuellen KE-Faktoren:</h2>
    <details>
      <summary>Erklärung KE-Faktoren</summary>
        <article>
          Der Insulinbedarf pro KE ist von Mensch zu Mensch verschieden. Die individuellen KE-Faktoren für morgens, 
          mittags und abends legt in der Regel der Arzt fest. Für die Berechnung der Insulindosis müssen nun die KE 
          mit dem vom Arzt festgelegten KE-Faktor für die jeweilige Mahlzeit multipliziert werden.
        </article>
      </details>
    
    <fieldset><label for="morning">
      Morgens
      <input type="number" id="morning" step="0.1" [(ngModel)]="userProfile.sensitivityMorning">
    </label>
      <label for="noon">
        Mittags
        <input type="number" id="noon" step="0.1" [(ngModel)]="userProfile.sensitivityNoon">
      </label>
      <label for="evening">
        Abends
        <input type="number" id="evening" step="0.1" [(ngModel)]="userProfile.sensitivityEvening">
      </label>
    </fieldset>
    <footer>
      <button className="secondary"  (click)="toggleDialog()">
        Cancel
      </button>
      <button (click)="saveUserProfile()">Save</button>
    </footer>
  </article>
</dialog>
